@import './modules/_variables.scss';
@import './modules/mixins.scss';

body{
    margin: 0px;
}

img{
    max-width: 100%;
}

figure{
    position: relative;
    max-height: 100%;
    margin: 10px;
    figcaption{
        padding: $large-padding;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 1.6em;
        position: absolute;
        width: auto;
        bottom: 0px;
        left: 10px;
        z-index: 10;
        text-align: center;
        color: rgba($blue, 0.8);
    }
    img{
    }
}

.btn{
    padding: $large-padding;
    position: relative;
    color:$black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-sizing: border-box;
    &:before{
        content:'';
        position: absolute;
        width: 100%;
        left:0px;
        bottom: 0px;
        height: 45%;
        z-index: -1;
        background-color: $orange;
        transition: all 0.15s ease-out;
    }
    &:hover::before{
        height: 100%
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.grid-main-area{
    margin-bottom: $big-margin-top;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    margin-top: $big-margin-top;
    grid-template-areas: 
    "title title title title title title title title title"
    "image image image image image image image image image";
    .text{
        grid-area: title;
        font-size: 1em;
        font-weight: 200;
        line-height:1.5em; //espacio saltos de linea
        h1{
            font-weight: inherit; //toma lo de el padre
            font-size: $big;
            letter-spacing: 0.3em;
            line-height: 1.5em;
            
        }
    }
    .image{
        grid-area: image;
    }

}

.container{
    grid-column: 2 / 12;
    padding: $big-padding;
}

.cover{
    @include absolute-cover;
    
    min-height: 500px;
    background-size: cover;
    background-position: center;
    &.parallax{
        background-attachment: fixed;
        background-image: url(../../images/11.jpg);
    }
}

@media (min-width: 960px){
    .grid-main-area{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-areas: 
    "title title title image image image image image image";
}
}